@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#email{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
}

#signIn{
    margin-left: 40%;
    max-width: 310px;
}

hr {
    margin: 10px 0;
}

#password{
    height: 35px;
    width: 300px;
}

#submitSignIn{
    height: 35px;
    width: 310px;
    background-color: lightgrey;
    border-color: black;
}

#signUpButton{
    height: 35px;
    width: 310px;
    background-color: lightgray;   
    border-color: black;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(42deg, transparent, lightblue, purple);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

#signup{
    margin-left: 40%;
}

#fName{
    height: 35px;
    width: 300px; 
    margin-bottom: 10px;
}

#lName{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
}

#rEmail{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
}


#rPassword{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
}
 
#submitSignUp{
    height: 35px;
    width: 300px;
    background-color: lightgray;   
    border-color: black;

}

#signInButton{
    height: 35px;
    width: 300px;
    background-color: lightgray;   
    border-color: black;
    
    
}
#recover{
    justify-content: center;
    align-items: center ;
}


.icons{
    margin-top: 10px;
    width: 310px;
    background: none;
}

#googlebnt {
    padding: 0px;
    border: 0px;
    margin-left: 20%;
}