Martinus
noobgang4grufyeti
Online

Angelina — 12/12/2024, 20:20
Attachment file type: document
Bwm.docx
59.55 KB
Martinus — 12/12/2024, 20:22
dankeee
Martinus — 16/01/2025, 14:01
Attachment file type: unknown
2025117-Aufg-07.fls
3.36 KB
Angelina — 16/01/2025, 14:25
Forwarded
Attachment file type: acrobat
CABS_Antwortenkatalog_Friedl.pdf
124.14 KB
Angelina — 07/04/2025, 14:37
Forwarded
falls du es willst/brauchst
Attachment file type: unknown
Chemie Test.odt
21.28 KB
Martinus — 07/04/2025, 14:37
nein
Martinus — 10/04/2025, 14:13
Attachment file type: unknown
Packet_tracer_Aufgabe.pkt
59.09 KB
Martinus — 12/05/2025, 11:33
du musst es eig nd stylen das ist nur da um zu Zeigen ob das Registrieren geklappt hat oder nd
Angelina — 14/05/2025, 10:30
#include <cstdlib>
using namespace std;
#include "bintree.h"

const int BASE = 10;
Expand
bintree_main.cpp
1 KB
all:bintree_main.cpp bintree.o
g++ node.o bintree.o bintree_main.cpp -o bintree_main

node.o:node.h node.cpp
g++ -c node.cpp -o node.o
Expand
makefile
1 KB
#include "node.h"

node::node(int value){
    this->value = value;
}
Expand
node.cpp
1 KB
class node{
    int value;
    node* left = nullptr;
    node* right = nullptr;
   public:
    node( int value);
Expand
node.h
1 KB
#include <iostream>
using namespace std;
#include "bintree.h"

bintree::~bintree(){
    delete root;
Expand
bintree.cpp
2 KB
#include "node.h"

class bintree{
    node* root = nullptr;
    void insert_recursive(int value, node** n);
    void print_ascending(node* n);
Expand
bintree.h
1 KB
Angelina — 14/05/2025, 20:57
Forwarded
wunder sich nicht, sind extrem viele seiten ABER ganz wichtig, ich habs wirklich genau gemacht, was bedeutet ich hab die ganzen antwwortmöglichkeiten auch im katalog drinnen, also bekomm keinen herzinfakt wenn du 12 Seiten siehst.
Attachment file type: document
Fragenkatalog.docx
148.89 KB
Martinus — 14/05/2025, 20:57
danke dir
Angelina — Yesterday at 08:46
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#email{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
Expand
styles.css
2 KB
Martinus — Yesterday at 15:08
angi von wem ist der Fragenkatalog eig ausgefüllt?
und btw wenns maybe heut zu deinem laptop kommst kannst mir auch deine geupadtete index.html schicken
dann lad ichs gleich beides hcoh
Angelina — Yesterday at 15:09
Wieso ?
Angelina — Yesterday at 15:09
Hab da glaub ich nichts geändert, aber kann ich machen
Martinus — Yesterday at 15:11
weil wenns von Marc ist dann will ichs nd grad lernen weil seine Sachen sind so zuverlässig wie die von Jusuf
Angelina — Yesterday at 15:11
Nuh uh is nicht von Mark
Martinus — Yesterday at 15:11
ja okay dann egal
Angelina — Yesterday at 15:12
Hab ja extra geschrieben bekomm keinen Herzinfarkt sind etwas viele Seiten haha
Martinus — Yesterday at 15:12
ja nur hast die Nachricht halt weitergeleitet deswegen
Angelina — Yesterday at 15:12
Ja hab’s Sebi geschickt und dann dir und Mathias gleich
Martinus — Yesterday at 15:12
achso ja passt
macht Sinn
danke nochmals
Angelina — Yesterday at 15:13
Gerne
﻿
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#email{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
}

#signIn{
    margin-left: 40%;
    max-width: 310px;
}

hr {
    margin: 10px 0;
}

#password{
    height: 35px;
    width: 300px;
}

#submitSignIn{
    height: 35px;
    width: 310px;
    background-color: lightgrey;
    border-color: black;
}

#signUpButton{
    height: 35px;
    width: 310px;
    background-color: lightgray;   
    border-color: black;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(42deg, transparent, lightblue, purple);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

#signup{
    margin-left: 40%;
}

#fName{
    height: 35px;
    width: 300px; 
    margin-bottom: 10px;
}

#lName{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
}

#rEmail{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
}


#rPassword{
    height: 35px;
    width: 300px;
    margin-bottom: 10px;
}
 
#submitSignUp{
    height: 35px;
    width: 300px;
    background-color: lightgray;   
    border-color: black;

}

#signInButton{
    height: 35px;
    width: 300px;
    background-color: lightgray;   
    border-color: black;
    
    
}
#recover{
    justify-content: center;
    align-items: center ;
}


.icons{
    margin-top: 10px;
    width: 310px;
    background: none;
}

#googlebnt {
    padding: 0px;
    border: 0px;
    margin-left: 20%;
}
styles.css
2 KB